@model CryptoTrader.Model.ViewModel.TradeByBitCoinViewModel
<div>
    @using (Html.BeginForm("TradeByBTC", "Trade", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(a => a.AHA, "Bitcoin", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.EditorFor(a => a.AHA, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(a => a.TradeAmountEuro, "Euro")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.EditorFor(a => a.TradeAmountEuro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <input type="submit" name="submit" class="btn btn-success" value="Kaufen" style="width:100%;">

    }

</div>

