
@model CryptoTrader.Model.ViewModel.TradeBitCoinViewModel
<link href="~/Content/Custom/TradeBitCoin.css" rel="stylesheet" />

<div class="container">
    @using (Html.BeginForm("Trade", "Trade", FormMethod.Post))
    {
        <div class="formCard">
            <div class="row">
                <div class="col-lg-12">
                    @Html.LabelFor(a => a.BtcTrade, "Bitcoin")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.EditorFor(a => a.BtcTrade, new { htmlAttributes = new { id = "BTC", @class = "form-control" , maxlength= "7" } })
                </div>
            </div>
        </div>
        <div class="formCard">

            <div class="row">
                <div class="col-lg-12">
                    @Html.LabelFor(a => a.EuroTrade, "Euro")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.EditorFor(a => a.EuroTrade, new { htmlAttributes = new { id = "Euro", @class = "form-control" ,maxlength= "7"} })
                </div>
            </div>
        </div>
        <input name="submit" type="submit" class="btn btn-danger buttonSell" value="Verkaufen" />
        <input name="submit" type="submit" class="btn btn-success buttonBuy" value="Kaufen" />
    }
</div>
<script src="~/Scripts/Custom/GetResultBTCandEuro.js"></script>
