@model CryptoTrader.Model.ViewModel.TradeHistoryListViewModel


    <main>
        <div class="row">
            <div class="col-lg-2">Vorname</div>
            <div class="col-lg-2">Nachname</div>
            <div class="col-lg-2">Betrag</div>
            <div class="col-lg-2">Währung</div>
            <div class="col-lg-2">Datum</div>
        </div>

        @foreach (var item in Model.HistoryList)
        {
            <div class="row">
                <div class="col-lg-2">@item.Person.firstName</div>
                <div class="col-lg-2">@item.Person.lastName</div>
                <div class="col-lg-2">@item.amount</div>
                <div class="col-lg-2">@item.created</div>
            </div>
        }
    </main>

