@model CryptoTrader.Model.ViewModel.SellBitCoinViewModel
@{
    ViewBag.Title = "BuyBitCoin";
}

<h2>BuyBitCoin</h2>

@using (Html.BeginForm("BuyBitCoin", "Trade", new { id = 1 }))
{
    @Html.LabelFor(a => a.TradeAmount, "Bitcoin kaufen")
    @Html.EditorFor(a => a.TradeAmount)
    <input type="submit" value="Kaufen" />
}

@using (Html.BeginForm("BuyBitCoin", "Trade", new { id = 3 }))
{
    @Html.LabelFor(a => a.EuroAmount, "Per Euro Bitcoin kaufen")
    @Html.EditorFor(a => a.EuroAmount)
    <input type="submit" value="Kaufen" />
}
