@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Custom/CardBootStrap.css" rel="stylesheet" />
<link href="~/Content/Custom/TradeIndex.css" rel="stylesheet" />

<div class="row divPadding">
    <!--Chart-->
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 divPadding">
        @Html.Partial("~/Views/Trade/_ChartDiagramm.cshtml")
    </div>
    <!--EndChart-->
    <!--Cards-->
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 divPadding">

        <!--Card for BuyCoins-->
        <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card-header">Kaufen</div>
            <div class="card-body">
                @Html.Partial("~/Views/Trade/_BuyBitCoin.cshtml")
            </div>
        </div>
        <!--EndBuyCoins-->
        <!--Card for SellCoins-->
        <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card-header">Verkaufen</div>
            <div class="card-body">
                @Html.Partial("~/Views/Trade/_SellBitCoin.cshtml")
            </div>
        </div>
        <!--EndSellCoins-->

    </div><!--EndCards-->

</div>
<div class="row" style="padding-left:100px;">
    @Html.Action("TradeHistoryList", "Trade");
</div>



