@model CryptoTrader.Model.ViewModel.ApiViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">

                    <div class="row">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">


                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                        <span>Bitcoin kaufen</span>
                                </a>
                            </li>

                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                        <span>Bitcoin verkaufen</span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>