@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/highstock/Test/highstock.js"></script>
<script src="~/Scripts/highstock/2.1.8/themes/dark-unica.js"></script>
<style>
    .chartdiv {
        min-width: 100% !important;
        padding-top: 30px;
        padding-left: 20px;
    }

    .background-Body {
        padding-left: 0px;
        background-image: url("../Image/bitcoin-1.jpg");
    }
</style>

@if (User.Identity.IsAuthenticated)
{
        <div class="row">
            <main id="Chart" class="chartdiv col-lg-12 col-md-12 col-sm-12 col-xs-12"></main>
        </div>
        <script>
            $(document).ready(function () {
                UpdateChart();
            });
            function UpdateChart() {
                if ($("collapseExample").hasClass("in") == false) {
                    $.ajax({
                        url: '/Ticker/LoadChartData',
                        success: function (json) {
                            CreateChart(json);
                        },
                        error: function (errorData) {
                            console.log(errorData);
                        }
                    });
                    setTimeout(function () { UpdateChart(); }, 10000);

                }
            }

            function CreateChart(jsonData) {
                Highcharts.stockChart('Chart', {
                    title: {
                        text: 'Aktueller BitCoin Kurs'
                    },
                    rangeSelector: false,
                    series: [{
                        name: 'BTC/EUR',
                        data: jsonData,
                        //type: 'area',
                        tooltip: {
                            valueDecimals: 2
                        }
                    }],
                });
            }
        </script>
}
else
{
    <body class="background-Body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div style="color:black;">
                        <h1>Nehmen Sie Teil An Der Spannenden Krypto-Trading Welt</h1>
                        <h2>Traden Sie Die Beliebtesten Kryptowährungen Auf Der Plattform</h2>
                        <H4>
                            CFDs sind gehebelte Produkte, die ein hohes Risiko beinhalten und zum Verlust Ihres gesamten Guthabens führen könnten.<br />
                            Kryptowährungen zeichnen sich durch hohe Volatilität aus und der Handel mit ihnen kann signifikante Verluste innerhalb kurzer Zeit zur Fo
                        </H4>
                    </div>
                </div>

            </div>
        </div>
    </body>

}
