@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/highstock/Test/highstock.js"></script>
<script src="~/Scripts/highstock/Test/exporting.js"></script>
<style>
    body {
        background: #111;
        font-family: Verdana;
    }

    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<div id="Chart" style="height: 400px; min-width: 100%; margin-top: 20px;"></div>


<script>
    $(document).ready(function () {
        UpdateChart();
    });

    function UpdateChart() {
        if ($("collapseExample").hasClass("in") == false) {
            $.ajax({
                url: '/Validation/LoadChartData',
                success: function (json) {
                    CreateChart(json);
                },
                error: function (errorData) {
                    console.log(errorData);
                }
            });
        }
    }

    //Create the chart
    function CreateChart(jsonData) {
        Highcharts.stockChart('Chart', {
            rangeSelector: {
                selected: 1
            },
            title: {
                text: 'Aktueller BitCoin Kurs'
            },
            series: [{
                name: 'BTC/EUR',
                data: jsonData,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    }
</script>

