@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/highstock/Test/highstock.js"></script>
<script src="~/Scripts/highstock/2.1.8/themes/dark-unica.js"></script>
<style>
    .chartdiv {
        min-width: 100% !important;
        padding-top: 30px;
        padding-left: 20px;
    }

    .background-Body {
        padding-left: 0px;
        background-image: url("../Image/bitcoin-1.jpg");
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <main id="Chart" class="chartdiv col-lg-12 col-md-12 col-sm-12 col-xs-12"></main>
    </div>


    <script>
        $(document).ready(function () {
            GetData();
        });


        function GetData() {
            $.ajax({
                url: "/Ticker/LoadChartData",
                success: function (data) {
                    console.log(data);
                    CreateChart(data);
                }
            })
        };

        function CreateChart(jsonData) {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            Highcharts.chart('Chart', {
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function (jsonData) {
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {
                                var x = (new Date()).getDay, // current time
                                    y = Math.random();
                                series.addPoint([x, y], true, true);
                            }, 2000);
                            console.log(series);

                        }
                    }
                },
                title: {
                    text: 'Bitcoin Kurs'
                },
                tooltip: {
                    valueDecimal: 2
                },
                series: [{
                    name: 'BTCKurs',
                    data: jsonData
                    }]
            })
        };
    </script>
}
else
{
    <body class="background-Body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div style="color:black;">
                        <h1>Nehmen Sie Teil An Der Spannenden Krypto-Trading Welt</h1>
                        <h2>Traden Sie Die Beliebtesten Kryptowährungen Auf Der Plattform</h2>
                        <H4>
                            CFDs sind gehebelte Produkte, die ein hohes Risiko beinhalten und zum Verlust Ihres gesamten Guthabens führen könnten.<br />
                            Kryptowährungen zeichnen sich durch hohe Volatilität aus und der Handel mit ihnen kann signifikante Verluste innerhalb kurzer Zeit zur Fo
                        </H4>
                    </div>
                </div>

            </div>
        </div>
    </body>

}
