@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/highstock/Test/highstock.js"></script>
<script src="~/Scripts/highstock/2.1.8/themes/dark-unica.js"></script>
<script src="~/Scripts/highstock/2.1.8/highcharts-3d.js"></script>
<style>
    body {
        background: #111;
        font-family: Verdana;
    }

    .chartdiv {
        width: 100%;
        min-height: 700px;
    }
</style>

<div id="Chart" class="chartdiv"></div>


<script>
    $(document).ready(function () {
        UpdateChart();
    });

    function UpdateChart() {
        if ($("collapseExample").hasClass("in") == false) {
            $.ajax({
                url: '/Ticker/LoadChartData',
                success: function (json) {
                    CreateChart(json);
                },
                error: function (errorData) {
                    console.log(errorData);
                }
            });
            setTimeout(function () { UpdateChart(); }, 10000);

        }
    }

    function CreateChart(jsonData) {
        Highcharts.stockChart('Chart', {
            title: {
                text: 'Aktueller BitCoin Kurs'
            },
            rangeSelector: false,
            series: [{
                name: 'BTC/EUR',
                data: jsonData,
                type: 'area',
                tooltip: {
                    valueDecimals: 2
                }
            }],
        });
    }

</script>
