

.top-nav {
    padding: 0 15px;
}
    .top-nav > li {
        display: inline-block;
    }
        .top-nav > li > a {
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 20px;
            color: #fff;
        }

