.chartdiv {
    padding: 0;
    width:100%;   

}

.card {
    min-height: 335px;
}

.tableScroll {
    overflow: auto;
    max-height: 335px;
    background-color: #3e3e40;
    color: white;
    margin-left:20px;
    border-collapse: collapse;
    width:65%;
}
